.Home a{
    padding: 15px 30px;
    text-decoration: none;
    color:rgb(253, 202, 65);
    

}
/* .Home{
    background-color: greenyellow;
    padding: 20px;
    border-radius: 10px;
} */

body{
    /* background-color: teal; */
background-image: url("../images/00.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
height: 700px;

}

.paragraph p{
    color: whitesmoke;
    font-size: 25px;
    padding-top: 120px;
}
#aka {
    font-size: 40px;
    color:rgb(253, 202, 65);

}