.Home a{
    padding: 15px 30px;
    text-decoration: none;
    color:rgb(253, 202, 65);
    

}
/* .Home{
    background-color: greenyellow;
    padding: 20px;
    border-radius: 10px;
} */

.body{
    /* background-color: teal; */
background-image: url("../images/00.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
height: 700px;

}

.paragraph p{
    color: whitesmoke;
    font-size: 25px;
    padding-top: 120px;
}
#aka {
    font-size: 40px;
    color:rgb(253, 202, 65);

}




/* ABOUT US */

#about{
    /* background-color: rgba(231, 231, 231, 0.9); */
    /* background-image: url("/images/black.png"); */
    background-size: 100% 100%;
    background-color: rgb(5,4,9);
}

.kid{
    border-radius: 5px;
    height: 80vh;
    width: 40vw;
}
.border{
    border: 2px solid rgb(253, 202, 65);
    border-radius: 5px
    ;
}
